@import url("https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap");

.App {
  margin-top: 4rem;
  max-width: 800px;
  text-align: center;
  font-family: "Major Mono Display", monospace;
}

h1 {
  margin-bottom: 2rem;
}

.game-info-bar {
  margin: 2rem 0;
  display: flex;
  justify-content: space-between;
}
.game-score {
  /* background-color: antiquewhite; */
}
.circle-container {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.start-btn,
.end-btn {
  border: none;
  font-family: inherit;
  font-size: inherit;
  padding: 0.5rem 1rem;
  background-color: black;
  color: white;
  margin: 2rem 0;
}
