.Circle {
  background-color: antiquewhite;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.Circle.active {
  background-color: lightpink;
}
