.Circle {
  background-color: white;
  height: 170px;
  width: 170px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 5px black;
  box-shadow: 2px 5px 3px rgba(0, 0, 0, 0.14), -3px 3px 1px rgba(0, 0, 0, 0.211),
    1px 2px rgba(0, 0, 0, 0.248);
}

.Circle:nth-child(1).active {
  background: url("assets/img/flies.jpg");
  background-size: contain;
}

.Circle:nth-child(2).active {
  background: url("assets/img/silverfish.jpg");
  background-size: contain;
}

.Circle:nth-child(3).active {
  background: url("assets/img/fly.jpg");
  background-size: contain;
}

.Circle:nth-child(4).active {
  background: url("assets/img/roach.jpg");
  background-size: contain;
}
